@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: silver;
  color: brown;
  font-family: 'Great Vibes', cursive; 
  /* font-weight: 400; */
  /* text-transform: uppercase; */
}

h2 {
  font-family: 'Pinyon Script', cursive;
  
  font-size: 4rem;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.container {
  text-align: center;
  padding: 3rem;
  
  border-radius: 2rem;
  /* background: skyblue; */
  letter-spacing: 1.5px;;
  flex: 0 0 80%;
  
}

#quote-button {
  background-color: lightblue;
  /* margin-top: 30px; */
  color: black;
  padding: .5rem 2rem;
  outline: none;
  border-radius: 2rem;
  font-family: 'futura';
  text-transform: uppercase;
  cursor: pointer;
}

#quote-button:hover {
  background: rgb(228, 228, 228);
  color: black;
}

blockquote {
  /* background: rgb(250, 227, 198); */
  height: 100px;
  color: rgb(0, 0, 0);
  font-family: 'roboto';
  /* font-family: 'Pinyon Script', cursive; */
  /* text-transform: capitalize; */
  /* border-left: 30px solid silver; */
  /* margin: 1.5rem; */
  /* padding: 1rem; */
  letter-spacing: 2px;
}

#quoteAuthor {
  color: black;
  font-family: "roboto";
  text-transform: uppercase;
  
}